@model GameStore.UI.Models.GameIndexViewModel

@section Scripts
{
    <script src="~/Assets/js/GameItemDescription.js"></script>
}

@{
    ViewBag.Title = "Game catalog";
}

<div class="row">
    <h2> Game Catalog</h2>
    <p>
        @Html.ActionLink("Sort by name", "SortByName")
        @Html.ActionLink("Sort by date", "SortByDate")
        @Html.ActionLink("Sort by price", "SortByPrice")
    </p>
    @Html.Partial("GameItems", Model)
</div>




