@model GameStore.UI.Models.PublisherGamesViewModel

<div class="row">
    <h2>Publisher: @Model.PublisherName</h2>
    @if (Model.GamesModel.Games.Count() == 0)
    {
        <p>No Games Published Yet</p>
    } else
    {
        <div>
            @Html.Partial("GameItems", Model.GamesModel)
        </div>
    }
</div>
