@model IEnumerable<GameStore.UIWeb.Models.PublisherSet>

@{
    ViewBag.Title = "Main";
}

<h2>Publishers</h2>

<div class="row">
@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="@Url.Content(item.Logo)" alt="Logo">
            <div class="caption">
                <h3>@Html.DisplayFor(model => item.Name)</h3>
                <p><a href="~/@string.Format("PublisherSets/Details?id={0}", item.Id)" class="btn btn-primary" role="button">Подробнее</a> 
                <a href="#" class="btn btn-default" role="button">К играм</a></p>
            </div>
        </div>
    </div>
}
</div>
